run-under-name: test

overwrite-output-dir: false

data-root: /Users/sam/hal/data/v4
temp-root: /Users/sam/hal/data/temp

output-root: /Users/sam/hal/data/output

hal.iterations: 5

# This can be thought of as an arity penality
search.hypo.log2-M1: [-20]
search.hypo.M1: (genlearn.util/exp2 $search.hypo.log2-M1)
search.hypo.logM1: (genlearn.util/log $search.hypo.M1)
search.hypo.branch-penalty: 1.0
search.hypo.depth-penalty: (* 1.0 $search.hypo.logM1)
search.hypo.primitives: (list :I  :0 :1 :+ :- :*)
search.hypo.frontier-size: 200
search.hypo.max-blocks: 100
search.hypo.prior-smoothing: 0.9
#search.hypo.gen-smoothing: 0.9
search.hypo.selector: fewest-unique
search.hypo.maxent.sigma: 10

search.feat.log2-M1: [-20]
search.feat.M1: (genlearn.util/exp2 $search.feat.log2-M1)
search.feat.logM1: (genlearn.util/log $search.feat.M1)
search.feat.branch-penalty: 1.0
search.feat.depth-penalty: (* 1.0 $search.feat.logM1)
search.feat.primitives: (list :I  :not :and :or :if  :0 :1 :+ :- :* :/ := :>  :singleton :cons :first :rest :empty? :count :range  :map :zip :filter :mapcat :fold :unfold  :sample8)
search.feat.max-features: 100
search.feat.frontier-size: 10000
search.feat.max-blocks: 100
search.feat.prior-smoothing: 0.9
search.feat.gen-smoothing: 1.0
search.feat.selector: fewest-unique
search.feat.min-observations: 1

task.problem-count: 1000

task.name: poly
#task.type: (list :int :int)
task.random-seeds: (iterate inc 123)

task.domain: (range 10)

task.poly.order: 2
task.poly.max-coeff: 7

