run-under-name: test

overwrite-output-dir: false

data-root: /Users/sam/hal/data/v4
temp-root: /Users/sam/hal/data/temp

output-root: /Users/sam/hal/data/output

# This can be thought of as an arity penality
search.log2-M1: [-20]
search.M1: (genlearn.util/exp2 $search.log2-M1)
search.logM1: (genlearn.util/log $search.M1)
search.branch-penalty: 1.0
search.depth-penalty: (* 1.0 $search.logM1)
search.restrict-identity-primitive: F

search.problem-count: 10000
search.frontier-size: 10000
search.max-blocks: 30
search.smoothing: 1.0
search.iterations: 10

task.name: poly
#task.type: (list :int :int)
task.domain: (range 10)

task.poly.order: 2
task.poly.max-coeff: 9

#random.seeds: (iterate #(+ 57 %) 123)

